{% extends 'base.html' %}

{% block content %}
    <h1>Town square in {{ object.town_name }}</h1>

    <div class="uk-child-width-expand@s uk-text-center uk-grid-medium" uk-grid>
        <div>
            {% include 'faction/warrior/components/pub_mercenary_list.html' %}
        </div>
        <div class="uk-margin-bottom">
            {% include "faction/item/components/shop_item_list.html" with item_list=object.available_items.all %}
        </div>
        <div class="uk-margin-bottom">
            <h2>Board</h2>
            {% for quest in quest_list %}
                {% include 'quest/components/quest_card.html' with quest=quest %}
            {% empty %}
                <p class="uk-text-meta">Nothing is pinned to the board this month.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
