{% extends 'base.html' %}

{% block content %}
    <h1>Faction "{{ object }}"</h1>

    <div class="uk-child-width-expand@s uk-text-center uk-grid-medium" uk-grid>
        <div>
            <h2>My faction</h2>
            <div class="uk-card uk-card-default uk-card-body uk-margin-bottom">
                <h3>Details</h3>
                <table class="uk-table">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <td>Culture</td>
                        <td>{{ object.culture.name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% include 'faction/warrior/components/fyrd_card.html' with faction=object %}
        </div>
        <div>
            {% include "faction/warrior/components/warrior_list.html" with faction=object %}
        </div>
        <div class="uk-margin-bottom">
            {% include "faction/item/components/item_list.html" with faction=object %}
        </div>
        <div class="uk-margin-bottom"
            {% include "faction/warrior/components/captured_warrior_list.html" with faction=object %}
        </div>
    </div>
{% endblock %}
