{% extends 'base.html' %}

{% block content %}
    <h1>Faction "{{ object }}"</h1>

    <div class="uk-child-width-expand@s uk-text-center uk-grid-medium" uk-grid>
        <div>
            <h2>Details</h2>
            <div class="uk-card uk-card-default uk-card-body">
                <table class="uk-table">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <td>Culture</td>
                        <td>{{ object.culture.name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            {% include "faction/warrior/components/warrior_list.html" with faction=object %}
        </div>
        <div class="uk-margin-bottom">
            {% include "faction/item/components/item_list.html" with faction=object %}
        </div>
        <div class="uk-margin-bottom">
            <h2>Captured warriors</h2>
            {% for warrior in object.captured_warriors.all %}
                {% include 'warrior/components/warrior_card.html' with warrior=warrior %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
