[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.2.*"
django-crispy-forms = "==2.3.*"
faker = "==33.*"

[dev-packages]

[requires]
python_version = "3.12"
