[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=4.2"
ambient-toolbox = "~=11.6"
django-crispy-forms = "~=1.14"
faker = "~=33.1"

[dev-packages]

[requires]
python_version = "3.12"
