{% load obsucrify static %}
<div class="uk-card uk-card-default uk-margin-bottom">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                {% include 'core/compontents/svg_icon.html' with icon_name='swordman' size='xl' %}
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{ warrior.name }}</h3>
                <p class="uk-text-meta uk-margin-remove-top">
                    <i class="fa-solid fa-layer-group"></i> <i>{{ warrior.experience }} XP</i>&nbsp;
                    <i class="fa-solid fa-coins"></i> <i>{{ warrior.weekly_salary }}</i>&nbsp;
                    <i class="fa-solid fa-heart"></i>
                    <i>{{ warrior.max_health|obscurify:20 }}</i>&nbsp;
                    <i class="fa-solid fa-bolt"></i> <i>{{ warrior.max_morale|obscurify:10 }}</i>&nbsp;
                    <i class="fa-solid fa-user-injured"></i> <i>{{ warrior.get_condition_display }}</i>
                </p>
            </div>
        </div>
    </div>
    <div class="uk-card-body uk-text-left">
        <div class="uk-grid uk-child-width-expand@s" uk-grid>
            <div>
                <table class="uk-table">
                    <tr>
                        <td>Culture</td>
                        <td>{{ warrior.culture.name }}</td>
                    </tr>
                    <tr>
                        <td>Strength</td>
                        <td>{{ warrior.strength|obscurify:10 }}</td>
                    </tr>
                    <tr>
                        <td>Dexterity</td>
                        <td>{{ warrior.dexterity|obscurify:10 }}</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="uk-table">

                    <tr>
                        <td>Weapon</td>
                        <td>{% if warrior.weapon %}{{ warrior.weapon.display_name }}{% else %}-{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Armor</td>
                        <td>{% if armor.weapon %}{{ warrior.armor.display_name }}{% else %}-{% endif %}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="uk-card-footer">
        <a href="#" class="uk-button uk-button-text">Recruit for {{ warrior.recruitment_price }} silver</a>
    </div>
</div>
