    {% load l10n %}
<div class="uk-card uk-card-default uk-margin-bottom">
    <div class="uk-card-header">
        <div id="item-card-{{ item.id|unlocalize }}" class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                {% include 'common/components/svg_icon.html' with icon_name=item.type.svg_image_name size='xl' %}
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                    {{ item.display_name }}
                </h3>
                <p class="uk-text-meta uk-margin-remove-top">
                    {% include 'item/components/item_stats_meta.html' with item=item %}
                </p>
            </div>
        </div>
    </div>
    <div class="uk-card-footer">
        <button type="button"
                hx-post="{% url 'warband:item-buy-view' item.id %}"
                hx-target="#item-card-{{ item.id|unlocalize }}"
                hx-swap="none"
                class="uk-button uk-button-text">Buy
        </button>
    </div>
</div>
