{% extends 'base.html' %}

{% block content %}
    <h1>Dashboard</h1>

    <div uk-grid>
        <div>
            {# TODO: merge this logic with the active quest #}
            {# TODO: finish active quest when winning or losing a battle -> tie battles to quest contract #}
            {# TODO: next round button disabled until all battles are fought? #}
        </div>
    </div>

    {% if faction.active_quest %}
        <div uk-alert>
            <div>
                <strong>Active quest:</strong> {{ faction.active_quest }}
            {# TODO: we need to set the newly created skirmish in the quest contract object #}
{# <a class="uk-button uk-button-primary" href="{% url 'skirmish:skirmish-fight-view' faction.active_quest.skirmish %}"> #}
{# Fight skirmish #}
{# </a> #}
            </div>
        </div>
    {% endif %}

    {% include 'player-week-log/components/player_week_log_list.html' with object_list=player_week_logs faction=faction %}
{% endblock content %}
