{% extends 'base.html' %}

{% block content %}
    <h1>Dashboard</h1>

    {% for active_quest in faction.active_quests.all %}
        <div uk-alert>
            <div>
                <strong>Active quest:</strong> {{ active_quest }}
                <a class="uk-button uk-button-primary"
                   href="{% url 'skirmish:skirmish-fight-view' active_quest.skirmish.id %}">
                    Fight skirmish
                </a>
            </div>
        </div>
    {% endfor %}

    {% include 'player-month-log/components/player_month_log_list.html' with object_list=player_month_logs faction=faction %}
{% endblock content %}
