{% extends 'base.html' %}

{% block content %}
    <h1>Dashboard</h1>

    {# TODO: lose game when money goes below X? -1000 maybe? or 0? or are we reducing morale then? #}
    {# TODO: once a fight as started (round != 0/1, we can't open other fights #}
    {# TODO: use XP to add more skirmish actions -> every level gets a fixed action to keep it simple #}
    {# TODO: make enemy warriors chose a skirmish action #}
    {% if faction.active_quest and faction.active_quest.skirmish %}
        <div uk-alert>
            <div>
                <strong>Active quest:</strong> {{ faction.active_quest }}
                <a class="uk-button uk-button-primary"
                   href="{% url 'skirmish:skirmish-fight-view' faction.active_quest.skirmish.id %}">
                    Fight skirmish
                </a>
            </div>
        </div>
    {% endif %}

    {% include 'player-week-log/components/player_week_log_list.html' with object_list=player_week_logs faction=faction %}
{% endblock content %}
