{% load crispy_forms_tags l10n utils %}
<div class="uk-card uk-card-small uk-card-default"
     data-faction="{{ warrior.faction.id }}" data-obj-id="{{ warrior.id }}">
    <div class="uk-card-header">
        <h3 class="uk-card-title">{{ warrior.name }}</h3>
        <ul class="uk-subnav uk-subnav-divider uk-margin-remove-top">
            <li>{{ warrior.faction }}</li>
            <li>
                <div class="uk-margin-top">
                    <progress class="uk-progress progress-green" value="{{ warrior.current_health }}"
                              max="{{ warrior.max_health }}"
                              title="{{ warrior.current_health }}/{{ warrior.max_health }}"></progress>
                </div>
            </li>
        </ul>
    </div>
    <div class="uk-card-body">
        <div uk-grid>
            <div>
                {% if warrior.is_healthy %}
                    <p class="uk-text-success">
                        <i class="fa-solid fa-feather-pointed"></i> {{ warrior.get_condition_display }}
                    </p>
                {% elif warrior.is_unconscious %}
                    <p class="uk-text-warning">
                        <i class="fa-solid fa-moon"></i> {{ warrior.get_condition_display }}
                    </p>
                {% elif warrior.is_fleeing %}
                    <p class="uk-text-warning">
                        <i class="fa-solid fa-person-running"></i> {{ warrior.get_condition_display }}
                    </p>
                {% else %}
                    <p class="uk-text-danger">
                        <i class="fa-solid fa-skull"></i> {{ warrior.get_condition_display }}
                    </p>
                {% endif %}
            </div>
            <div class="color-corale">
                <i class="fa-solid fa-bolt"></i> {{ warrior.current_morale }} / {{ warrior.max_morale }}
            </div>
        </div>
        <div>
            {% include 'core/compontents/svg_icon.html' with icon_name=warrior.get_weapon_or_fallback.type.svg_image_name %}
            {{ warrior.get_weapon_or_fallback }}
        </div>
        <div>
            {% include 'core/compontents/svg_icon.html' with icon_name=warrior.get_armor_or_fallback.type.svg_image_name %}
            {{ warrior.get_armor_or_fallback }}
        </div>
    </div>
    <div class="uk-card-footer">
        <div class="uk-form-controls">
            {% if is_player and warrior.is_healthy %}
                {% with form=skirmish_action_form|lookup:warrior.id %}
                    {% crispy form %}
                {% endwith %}
            {% elif not is_player and warrior.is_healthy %}
                <label class="uk-form-label">
                    Simple attack
                    <input name="warrior-fight-action[{{ warrior.faction.id }}][{{ warrior.id }}]" class="uk-hidden"
                           value="1">
                </label>
            {% endif %}
        </div>
    </div>
</div>
