<div hx-get="{% url 'warband:pub-mercenary-list-htmx' faction.id %}"
     hx-trigger="loadPubMercenaryList from:body"
     hx-swap="outerHTML"
     hx-disinherit="hx-swap">
    <h2>Pub</h2>
    {% for warrior in faction.available_mercenaries.all %}
        {# TODO (#90): use different cards here which obscurify most values #}
        {% include 'faction/warrior/components/pub_warrior_card.html' with warrior=warrior %}
    {% empty %}
        <p class="text-sm leading-snug text-[#999]">Nobody is drinking here this month.</p>
    {% endfor %}
</div>
