{% extends 'base.html' %}
{% load crispy_forms_tags obscurify %}

{% block content %}
    <h1>Quest</h1>

    {# The table scrolls inside its own box rather than dragging the page sideways on a phone. #64 #}
    {# decides what a table should actually become at that width. #}
    <div class="overflow-x-auto md:w-1/2">
        <table>
            <tbody>
            <tr>
                <td>Name</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>Target faction</td>
                <td>{{ object.target_faction }}</td>
            </tr>
            <tr>
                <td>Loot</td>
                <td>{{ object.loot|obscurify:object.average_loot }}</td>
            </tr>
            <tr>
                <td>Difficulty</td>
                <td>{{ object.get_difficulty_display }}</td>
            </tr>
            <tr>
                <td colspan="2">{% crispy form %}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
