{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tettenhall - The Game</title>
    <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'uikit/dist/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/progress-bar.css' %}">
</head>
<body>
<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo uk-margin-left" href="{% url 'account:dashboard-view' %}">Tettenhall</a>
        <ul class="uk-navbar-nav">
            <li>
                <a href="{% url 'faction:faction-detail-view' 2 %}">
                    My faction
                </a>
            </li>
            <li>
                <a href="{% url 'training:training-list-view' %}">
                    Training
                </a>
            </li>
            <li>
                <a href="{% url 'skirmish:skirmish-list-view' %}">
                    Skirmishes
                </a>
            </li>
            <li>
                <a href="{% url 'finance:transaction-list-view' 2 %}">
                    Finance
                </a>
            </li>
            <li>
                <a href="{% url 'marketplace:marketplace-view' 1 %}">
                    Marketplace
                </a>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right uk-margin-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
                <a hx-post="{% url 'week:finish-week-view' %}">
                    Finish week
                </a>
            </li>
    </div>
</nav>

<div class="uk-container-expand uk-margin-left uk-margin-right">
    {% block content %}{% endblock %}
</div>

<div id="hidden-box" class="uk-hidden"></div>

<script src="{% static 'htmx.org/dist/htmx.js' %}"></script>
<script src="{% static 'uikit/dist/js/uikit.js' %}"></script>
<script src="{% static 'js/idiomorph-ext.min.js' %}"></script>
<script type="text/javascript">
    // Add CSRF token to HTMX plugin for being able to make AJAX calls
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
    // Notifications
    document.body.addEventListener("notification", function (e) {
        UIkit.notification({
            message: e.detail.value,
            status: 'success',
            pos: 'top-center',
            timeout: 1000,
        });
    });
</script>
</body>
</html>
