{% load static %}
<div class="uk-card uk-card-default uk-margin-bottom">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="{% static warrior.avatar_url %}" alt="Avatar">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{ warrior.name }}</h3>
                <p class="uk-text-meta uk-margin-remove-top">
                    <i class="fa-solid fa-layer-group"></i> <i>{{ warrior.experience }} XP</i>&nbsp;
                    <i class="fa-solid fa-coins"></i> <i>{{ warrior.monthly_salary }}</i>&nbsp;
                    <i class="fa-solid fa-heart"></i>
                    <i>{{ warrior.current_health }}/{{ warrior.max_health }}</i>&nbsp;
                    <i class="fa-solid fa-bolt"></i> <i>{{ warrior.current_morale }}/{{ warrior.max_morale }}</i>&nbsp;
                    <i class="fa-solid fa-user-injured"></i> <i>{{ warrior.get_condition_display }}</i>
                </p>
            </div>
        </div>
    </div>
    <div class="uk-card-body uk-text-left">
        <div class="uk-grid uk-child-width-expand@s" uk-grid>
            <div>
                <table class="uk-table">
                    <tr>
                        <td>Faction</td>
                        <td>
                            {{ warrior.faction.name }}
                        </td>
                    </tr>
                    <tr>
                        <td>Strength</td>
                        <td>{{ warrior.strength }}</td>
                    </tr>
                    <tr>
                        <td>Dexterity</td>
                        <td>{{ warrior.dexterity }}</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="uk-table">
                    <tr>
                        <td>Culture</td>
                        <td>{{ warrior.culture.name }}</td>
                    </tr>
                    <tr>
                        <td>Weapon</td>
                        <td>{{ warrior.weapon|default_if_none:'-' }}</td>
                    </tr>
                    <tr>
                        <td>Armor</td>
                        <td>{{ warrior.armor|default_if_none:'-' }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="uk-card-footer">
        {% if is_captured %}
            <a hx-post="{% url 'warrior:warrior-recruit-captured-view' warrior.id faction.id %}"
               class="uk-button uk-button-text">
                Recruit for <i class="fa-solid fa-coins"></i> <i>0</i></a> /
            <a hx-post="{% url 'warrior:warrior-enslave-captured-view' warrior.id faction.id %}"
               class="uk-button uk-button-text">
                Enslave for <i class="fa-solid fa-coins"></i> <i>{{ warrior.slavery_selling_price }}</i>&nbsp;</a>
        {% else %}
            <a href="{% url 'warrior:warrior-detail-view' warrior.id %}" class="uk-button uk-button-text">Detail</a>
        {% endif %}
    </div>
</div>
