{% extends 'base.html' %}

{% block content %}
    <h1>Town upgrade</h1>

    {% for building in building_list %}
        <div uk-grid>
            <div class="uk-width-1-3">
                {{ building.label }}
            </div>
            <div class="uk-width-1-3">
                {{ building.level_display }} (Level {{ building.level }})
            </div>
            <div class="uk-width-1-3">
                {% if building.level >= building.max_level %}
                    <button class="uk-button uk-button-primary" disabled>Max level reached</button>
                {% elif has_already_built %}
                    <button class="uk-button uk-button-primary" disabled>Already constructing a building this
                        month</button>
                {% else %}
                    <button hx-post="{% url "town:upgrade-building-view" building.building_type %}"
                            class="uk-button uk-button-primary">Upgrade for {{ building.costs }} silver
                    </button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}
