<div class="uk-tile-default uk-padding-large"> {# todo hx-ext="morph" #}
    {% include 'compontents/box_header.html' with title=faction.name %}
    <div class="uk-child-width-1-2@s uk-grid-small uk-grid-match"
         hx-get="{% url 'skirmish:faction-warrior-list-update-htmx' skirmish.id faction.id %}"
         hx-trigger="updateFactionWarriorList from:body"
         hx-target="this"
         hx-swap="morph:innerHTML" {# todo morph is not keeping the form value -> remove?  #}
         uk-grid>
        {% include 'skirmish/faction/htmx/_warrior_list.html' with object_list=warrior_list is_player=is_player %}
    </div>
</div>
