{% extends 'base.html' %}

{% block content %}
    <h1>{{ skirmish.name }}: Round {{ skirmish.current_round }}</h1>

    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
        <div>
            {% include 'skirmish/faction/components/faction_box.html' with faction=player_faction warrior_list=skirmish.player_warriors.all is_player=True %}
        </div>
        <div>
            <div class="uk-tile-muted uk-padding-large">
                <div class="uk-child-width-1-2@s" uk-grid>
                    <div>
                        {% include 'compontents/box_header.html' with title='Battle report' %}
                    </div>
                    <div>
                        <button hx-post="{% url 'skirmish:skirmish-finish-round-view' object.id %}"
                                hx-target="#hidden-box"
                                hx-include="select, input"
                                class="uk-button uk-button-danger uk-float-right">
                            {# todo hier die actions pro runde speichern -> runde muss hier noch irgendwo mit rein #}
                            Fight!
                        </button>
                        <div class="uk-clearfix"></div>
                    </div>
                </div>
                <div class="uk-divider-icon"></div>

                <div id="battle-report-container"
                     hx-get="{% url 'skirmish:battle-history-update-htmx' %}"
                     hx-trigger="load, battleReportUpdate from:body"
                     hx-target="this"
                     hx-swap="innerHTML">
                </div>
            </div>
        </div>
        <div>
            {% include 'skirmish/faction/components/faction_box.html' with faction=non_player_faction warrior_list=skirmish.non_player_warriors.all is_player=False %}
        </div>
    </div>
{% endblock %}
