{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tettenhall - The Game</title>
    <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'uikit/dist/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/progress-bar.css' %}">
</head>
<body>
<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo uk-margin-left" href="{% url 'account:dashboard-view' %}">Tettenhall</a>

        {% if request.user.is_authenticated and current_savegame %}
            <ul class="uk-navbar-nav">
                <li>
                    <a href="{% url 'faction:faction-detail-view' current_savegame.player_faction_id %}">
                        {{ current_savegame.player_faction }}
                    </a>
                </li>
                <li>
                    <a href="{% url 'faction:town-square-view' current_savegame.player_faction_id %}">
                        {{ current_savegame.player_faction.town_name }}
                    </a>
                </li>
                <li>
                    <a href="{% url 'training:training-list-view' %}">
                        Training
                    </a>
                </li>
                <li>
                    <a href="{% url 'skirmish:skirmish-list-view' %}">
                        Skirmishes
                    </a>
                </li>
                <li>
                    <a href="{% url 'finance:transaction-list-view' current_savegame.player_faction_id %}">
                        Finance
                    </a>
                </li>
                <li>
                    <a href="#">
                        Estates {# todo: implement me #}
                    </a>
                </li>
            </ul>
            <div class="uk-navbar-item">
                <span >{% include 'common/components/svg_icon.html' with icon_name="warrior_face" size='sm' %} {{ faction_warriors.count }}</span>
                <span >{% include 'common/components/svg_icon.html' with icon_name="silver" size='sm' %} {{ current_balance }}</span>
                <span >{% include 'common/components/svg_icon.html' with icon_name="crossed_swords" size='sm' %} {{ open_skirmishes.count }}</span>
            </div>
        {% endif %}
    </div>
    <div class="uk-navbar-right uk-margin-right">
        <ul class="uk-navbar-nav">
            {% if request.user.is_authenticated and current_savegame %}
                <li class="uk-active">
                    <a hx-post="{% url 'month:finish-month-view' %}">
                        Finish month
                    </a>
                </li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li>
                    <a href="#">{{ current_savegame.player_faction|default:"No savegame" }} / {{ request.user }}</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="{% url "savegame:savegame-list-view" %}">Savegames</a></li>
                            <li><a href="{% url "account:logout-view" %}">Logout</a></li>
                        </ul>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="uk-container-expand uk-margin-left uk-margin-right">
    {% block content %}{% endblock %}
</div>

<div id="hidden-box" class="uk-hidden"></div>

<script src="{% static 'htmx.org/dist/htmx.js' %}"></script>
<script src="{% static 'uikit/dist/js/uikit.js' %}"></script>
<script src="{% static 'js/idiomorph-ext.min.js' %}"></script>
<script type="text/javascript">
    // Add CSRF token to HTMX plugin for being able to make AJAX calls
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
    // Notifications
    document.body.addEventListener("notification", function (e) {
        UIkit.notification({
            message: e.detail.value,
            status: 'success',
            pos: 'top-center',
            timeout: 1000,
        });
    });
    document.body.addEventListener('htmx:beforeOnLoad', function (evt) {
        if (500 <= evt.detail.xhr.status && evt.detail.xhr.status < 600) {
            UIkit.notification({
                message: "An error has occured.",
                status: 'danger',
                pos: 'bottom-center',
                timeout: 1000,
            });
        }
    });

    {% for message in messages %}
        UIkit.notification({
            message: "{{ message|safe }}",
            status: "{{ message.level_tag }}",
            pos: 'top-center',
            timeout: 1000,
        });
    {% endfor %}
</script>
</body>
</html>
